<!DOCTYPE html>
<html lang="en">
    <head>
        <title>login</details></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form  action="/login" method="post">
                <input id="userinput" name="email" placeholder="enter your username" type="text">
            <input name="password" id="passwordinput" placeholder=" enter your password">
            <a href="./otp.hbs"><button type="submit">login</button></a>
            <div>
               Don't have an account yet ? <a href="../signup"> signup</a>
            </div>
            
    
            </form>
        </div>
        
    </body>
</html>
