<!DOCTYPE html>
<head>
   <meta-charset= "UTF-8">
   <meta-name ="viewport", content="device=device-width,intial-scale=1.0">
</head>
<body>
     <div>
            <form  action="/submitOtp" method="post">
                <input id="userinput" name="otp" placeholder="enter your otp" type="text">
            <button type="submit">Enter</button>
            <div>
               Don't have an account yet ? <a href="../signup"> signup</a>
            </div>

            </form>
        </div>

</body>
